/*CORES*/
.color-ebano {
  color: var(--color-ebano);
}

.color-grafite {
  color: var(--color-grafite);
}

.color-cru {
  color: var(--color-cru);
}

.color-terra {
  color: var(--color-terra);
}

.color-dourado {
  color: var(--color-dourado);
}

.color-cru-translucent {
  color: rgba(252, 255, 255, 0.8);
}

/*BACKGROUNDS*/

.bg-ebano {
  background-color: var(--color-ebano);
}

.bg-cru {
  background-color: var(--color-cru);
}

.bg-terra {
  background-color: var(--color-terra);
}

.bg-dourado {
  background-color: var(--color-dourado);
}

.btn-wrapper {
  cursor: pointer;
  padding: 2px;
}

.container {
  --max-width: 680px;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  margin-inline: auto;
}

.background {
  width: calc(100vw - 1px);
}

.even-columns {
  display: grid;
  gap: 1rem;
}

.desktop-only {
  display: none;
}

.mobile-menu {
  display: initial;
  z-index: 3;
}

.mobile-menu-content {
  background-color: var(--color-cru);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

/* fontes */

.font-jost {
  font-family: var(--font-jost);
}

.font-cormorant {
  font-family: var(--font-cormorant);
  font-style: italic;
}

.font-serif {
  font-family: var(--font-serif);
}

/* tamanhos de fonte */

.fs-md {
  font-size: var(--fs-md);
}

.fs-xl {
  font-size: var(--fs-xl);
}

.fs-3xl {
  font-size: var(--fs-3xl);
}

.fs-6xl {
  font-size: var(--fs-6xl);
}

@media (width >=1280px) {
  .container {
    --max-width: 1350px;
  }

  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  .desktop-only {
    display: initial;
  }

  .mobile-menu,
  .mobile-menu-content {
    display: none;
  }
}