.py-base {
  padding-block: var(--py-base);
}

.py-lg {
  padding-block: var(--py-lg);
}

.py-xl {
  padding-block: var(--py-xl);
}

.px-lg {
  padding-inline: var(--px-lg);
}

.desktop-only {
  display: none;
}

.even-columns {
  display: grid;
  gap: 1rem;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.gap-1 {
  gap: 1rem;
}

.gap-1\.5 {
  gap: 1.5rem;
}

.btn-wrapper {
  cursor: pointer;
  padding: 2px;
}

.container {
  --max-width: 680px;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  margin-inline: auto;
}

.background {
  width: 100vw;
}

/* FONTES */
.font-serif {
  font-family: var(--ff-serif);
}
.font-jost {
  font-family: var(--ff-jost);
}
.font-cormorant {
  font-family: var(--ff-cormorant);
  font-style: italic;
}

/* TAMANHOS */

.fs-base {
  font-size: var(--fs-base);
}

.fs-md {
  font-size: var(--fs-md);
}

.fs-3xl {
  font-size: var(--fs-3xl);
}

/* ESTILOS */
.uppercase {
  text-transform: uppercase;
}

/* ESPAÇAMENTO */

.ls-md {
  letter-spacing: 0.25rem;
}

/* PESOS */
.fw-base {
  font-weight: var(--fw-base);
}

/* CORES */
.color-cru {
  color: var(--color-cru);
}

.color-cru-translucent {
  color: var(--color-cru-translucent);
}

.color-dourado {
  color: var(--color-dourado);
}

@media (width >= 1280px) {
  .container {
    --max-width: 1050px;
  }

  .desktop-only {
    display: initial;
  }

  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
